@use "./modules/detail";
@import "./modules/variables";

// ESTILOS GLOBALES
* {
  box-sizing: border-box;
}
html {
  font-size: 16px;
  @media (max-width: 800px) {
    font-size: 15px;
  }
}
body {
  font-family: "Ubuntu", sans-serif;
  margin: 0 auto;
  color: $font-color;
}

header{
  width: 80%;
  margin: 0 auto;
  padding: 2rem 0 2rem 0;
  display: flex;
  @media (max-width: 800px) {
    justify-content: center;
  }
}
button {
  border: 2px solid $primary-color;
  color: $primary-color;
  font-weight: bolder;
  padding: 0.6rem 2rem;
  font-size: 1.3rem;
  background-color: transparent;
  border-radius: 2rem;
  cursor: pointer;
  &:hover {
    transition: background-color 0.3s ease;
    background-color: $primary-color;
    color: white;
  }
}

// SECCION DE LA PAGINA PRINCIPAL (INDEX)

.index-main-container {
  width: 80%;
  margin:  0 auto;
    margin-bottom: 5rem;
    @media (max-width: 800px) {
      width: 90%;
    }
}

// CUADRICULA DONDE SE MUESTRAN LOS PRODUCTOS

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, (minmax(35rem, 1fr)));
  grid-auto-rows: auto;
  gap: 2.5rem;
  @media (max-width: 800px) {
    grid-template-columns: repeat(auto-fit, (minmax(20rem, 1fr)));
  }
}


// ESTILOS DE CADA PRODUCTO DE LA CUADRICULA

.item {
  display: flex;
  flex-direction: column;

  h2 {
    margin-bottom: 0.5rem;
    font-size: 1.7rem;
    color: $primary-color;
    @media (max-width: 800px) {
      font-size: 1.5rem;
    }
  }

  p { 
    margin: 0 0 1rem 0;
    color: rgba(90, 90, 90, 0.541);
    font-size: 1.5rem;
  }

  section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    div:first-child {
      display: flex;
      flex-direction: row;
      figure {
        margin: 0;
        img {
          width: 3.125rem;
          @media (max-width: 800px) {
            width: 1.875rem;
          }
        }
        figcaption {
          text-align: center;
          font-weight: bolder;
          @media (max-width: 800px) {
            font-size: 0.7rem;
          }
        }
      }
    }
    .price {
      margin: 0;
      color: $font-color;
      font-size: 2.5rem;
      @media (max-width: 800px) {
        font-size: 1.6rem;
      }
    }
    button {
      padding: 0.6rem 3rem;
      font-size: 1.5rem;
      @media (max-width: 800px) {
        font-size: 1rem;
        padding: 0.4rem 1.4rem;
      }
      a {
        text-decoration: none;
        color: inherit;
      }
    }
  }
}
